<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!-- 
    Incoming:{
    groups: [ {Group} , {Group} ],
    user: {User},
    selection: {Restaurant} || null,
    restaurants: [ {Restaurant} ],
    isSelector: Boolean,
    group: {Group},
    order: {Order},
    orderedToday: Boolean,
    selector: {User}
    }
    -->

    
    <% if (selection){ %>
    <h2><%= selection.name %> is <%= selector.userName %>'s choice today!</h2>
    <ul>
        <li class="menu"><a href="<%= selection.menu %>">Menu</a></li>
        <li class="phone">Phone: <%= `${selection.phone.slice(0,3)}-${selection.phone.slice(3,6)}-${selection.phone.slice(7)}` %></li>
        <li class="address">Address: <%= selection.address %></li>
    </ul>
        <% if (isSelector){ %>
        <h4>You may change the selection here!</h4>
        <form action="/orders/changeRestaurant" method="POST">
            <fieldset>
                <legend>Change Today's Selection</legend>
                <div class="form-carousel">
                    <% restaurants.forEach(el => { %>
                    <input type="radio" name="newSelection" value="<%= el._id %>">
                    <label for="newSelection"><%= el.name %></label>
                    <ul>
                        <li class="menu"><a href="<%= el.menu %>" target="_blank">Menu</a></li>
                        <li class="phone">Phone: <%= `${el.phone.slice(0,3)}-${el.phone.slice(3,6)}-${el.phone.slice(7)}` %></li>
                        <li class="address">Address: <%= el.address %></li>
                    </ul>
                    <% }) %>
                </div>
                <input type="hidden" name="groupId" value="<%= user.group._id %>">
                <input type="submit">
            </fieldset>
        </form>
        <%}%>
        <% if (orderedToday){ %>
        <h3>You have placed your order today!</h4>
        <main class="order">
            <h4><%= `${user.userName}'s current order for today:` %></h3>
            <p><%= `Order: ${order.order}` %></p>
            <p><%= `Notes: ${order.notes}` %></p>
        </main>
        <form action="/orders/changeOrder" method="POST">
            <fieldset>
                <legend>Change Your Order here</legend>
                <textarea name="userOrderChanges" id="userOrder" rows="5" cols="40"></textarea>
                <textarea name="notesChanges" id="notes" rows="5" cols="40"></textarea>
                <input type="hidden" name="isSelector" value="<%= isSelector %>">
                <input type="submit">
            </fieldset>
        </form>
        <% } else{ %>
        <form action="/orders/submitOrder" method="POST">
            <fieldset>
                <legend>Place Your Order here</legend>
                <textarea name="userOrder" id="userOrder" rows="5" cols="40"></textarea>
                <textarea name="notes" id="notes" rows="5" cols="40"></textarea>
                <input type="hidden" name="isSelector" value="<%= isSelector %>">
                <input type="submit">
            </fieldset>
        </form>
        <% } %>
    <% }else{ %>
    <h2><%= selector.userName === user.userName ? 'You have' : `${selector.userName} has` %> not selected a restaurant yet!</h2>
        <% if (isSelector){ %>
        <div class="form-container">
            <div class="form-line" onclick="toggleForm(event)">
                <span>Submit today's restaurant!</span>
                <span class="expand-icon">▼</span>
            </div>

            <div class="form-content">
                <div class="form-inner">
                    <form action="/groupHome/submitChoice" method="POST">
                        <% groupRestaurants.forEach(el => { %>
                        <div class="form-group">
                            <input type="radio" name="restId" value="<%=el._id%>" id="<%=el._id%>">
                            <label for="<%=el._id%>"><%=el.name%></label>
                            <ul>
                                <li><p><a href="<%= el.menu %>" target="_blank">Menu</a></p></li>
                                <li><p>Phone: <%= `${el.phone.slice(0,3)}-${el.phone.slice(3,6)}-${el.phone.slice(7)}` %></p></li>
                                <li><p>Address: <%= el.address %></p></li>
                            </ul>
                        </div>
                        <% }) %>
                        <% if (!groupRestaurants.length){ %>
                        <p>No restaurants exist. Add existing or new ones below.</p>
                        <% } %>
                        <% if (isSelector){ %>
                        <button type="submit" class="submit-btn">Submit Choice</button>
                        <% }else{ %>
                        <p>It's not your choice today!</p>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
    <% } %>

    <h1>Groups</h1>
    <% if (groups.length){ %>
    <form action="/groups/joinGroup" method="POST">
        <fieldset>
            <legend>Existing Groups</legend>
        <% groups.forEach( el => { %>
            <div>
                <input type="radio" value="<%= el._id %>" name="groupId" id="<%=el._id%>">
                <label for="groupId"><%=el.name%></label>
            </div>
        <% }) %>
            <input type="submit" value="Join Group">
        </fieldset>
            
    </form>
        <p>Or create your own new group below!</p>
    <%}else{%>
        <p>No groups currently exist. Create the first below!</p>
    <% }%>


    <form action="/groups/createGroup" method='POST'>
        <input type="text" placeholder="enter group name" name='groupName'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>